body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 110vh;
    margin: 0 auto;
}

.centrale{
    text-align: center;
}

#logo{
    width: 30vh;
}
#sottotitolo{
    text-align: center;
    background-color: lightyellow;
}

#focaccia{
    width: 105vh;
}

#color_p{
    color:red;
}

.color_link{
    color:rgb(28, 142, 104);
}

.bold{
    font-weight: bold;
}

.normal{
    font-weight: normal;
}
